@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bff: "Jost";
    --color-one: #3452ff;
    --color-two: white;
    --bg-one: black;
    --bg-two: rgb(78, 78, 78);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--bff);
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400;
    color: #0b0a0c;
    background-color: #000000da;
}

a {
    text-decoration: none;
    color: var(--color-two);
    transition: all 0.3s ease 0s;
}

a:hover {
    color: var(--color-one);
    transition: all 0.3s ease 0s;
}

/* button  */
.btn {
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid white;
    background: white;
    font-weight: 500;
    font-family: var(--bff);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-language {
    background: rgb(46, 46, 46);
    color: white;
}

/*end button  */

/* title  */
.title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-one);
}

/* end title  */